.main-view {
  width: 100%;
  height: 100%;
  margin-top: 66px;
  background-color: rgb(216, 230, 240);
  min-height: 91vh;
}

.navbar {
  z-index: 999;
  overflow: hidden;
  height: 66px;
  background-color: rgb(75, 104, 158); 
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.navbar button, .main-logo, .center-box {
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  background-color: rgb(75, 104, 158); 
  border: 1px solid #fff;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 32px;
  margin-right: 6px;
  text-decoration: none;
}

.center-box {
  margin-left: 30vw;
  text-align: center;
  margin-top: 30vh;
  font-size: 2vw;
}

.center-box:hover {
  background-color: rgb(66, 92, 139); 
}

.navbuttons {
  height: 50px;
  margin-top: 8px;
  overflow: hidden;
  margin-left: 300px;
}

.main-logo {
  border: none;
  background: url(./imgs/RNA-logo.png);
  background-size: 280px 66px;
  background-repeat: no-repeat;
  width: 300px;
  margin-top: 0;
}

.logo-block {
  bottom: 0;
  left: 0;
  position: relative;
}

.IBCH-logo {
  background: url(./imgs/IBCH.png);
  margin-bottom: 120px;
}

.PP-logo {
  background: url(./imgs/PP.png);
}

.IBCH-logo, .PP-logo {
  margin-top: 40px;
  height: 110px;
  width: 110px;
  background-size: 110px 110px;
  background-repeat: no-repeat;
  bottom: 0;
}

.navbar button:hover {
  background-color: rgb(66, 92, 139); 
}

#structures, #compare, #stats {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#structures td, 
#structures th, 
#compare td, 
#compare th,
#stats td,
#stats th {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}

#structures tr:nth-child(even) {
  background-color: #bbd0df;
}

#structures tr:hover {
  background-color: #ddd;
}

#structures th, #compare th, #stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* height: 30px; */
  text-align: center;
  background-color: rgb(75, 104, 158);
  color: white;
}

.litemol-column {
  width: 355px;
}

.litemol {
  width: 350px; 
  height: 350px; 
  position: relative;
}

#compare .litemol {
  width: 500px; 
  height: 500px; 
  position: sticky;
  margin-left: 5%;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 255px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(89, 122, 184);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-block {
  padding: 0px 6px 4px 15px;
  font-size: 20px;
  color: #fff;
  display: inline-flex;
}

.sidebar-input {
  height: 20px;
  margin-right: 5px;
  width: 90px;
}

.main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  height: 100%;
}

.pagination {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.pagination-button {
  vertical-align: top;
  height: 40px;
  width: auto;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #818181;
  outline: none;
  background-color: rgb(216, 230, 240);
  color: #818181;
  cursor: pointer;
  font-size: 35px;
}

.active, .pagination-button:hover {
  background-color: rgb(186, 200, 211);
}

.previous-page {
  background: url(./imgs/page_previous.png);
}

.next-page {
  background: url(./imgs/page_next.png);
}

.next-page, .previous-page {
  height: 28px;
  width: 28px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
}

.previous-page-white {
  margin-left: 11px;
  background: url(./imgs/page_previous_white.png);
}

.next-page-white {
  margin-left: 10px;
  background: url(./imgs/page_next_white.png);
}

.next-page-white, 
.previous-page-white {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagesizer {
  display: inline-flex;
  width: 100%;
  padding: 0px 6px 4px 15px;
}

.pagesizer button, 
.search-block button, 
.pagesizer input, 
.angle-block input, 
.sequence-block input, 
.type-block input {
  margin-right: 6px;
  width: 40px;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: rgb(81, 109, 161);
  border: 1px solid #fff;
  outline: none;
}

.sidebar-block label {
  margin-top: 8px;
  font-size: 17px;
}

.pagesizer button {
  height: 35px;
  padding: 0px 0px 0px 0px;
}

.pagesizer button:hover {
  background-color: rgb(66, 92, 139);
}

.search-block button {
  margin-top: 10px;
  background-color: rgb(59, 82, 124); 
  width: 120px;
  height: 40px;
}

.search-block {
  flex: 1 1 auto;
}

.angle-block input, 
.sequence-block input, 
.type-block input {
  width: 100px;
  height: 30px;
  font-size: 18px;
  color: #fff;
}

.sequence-block input, .type-block input {
  /* padding-left: 8px; */
  text-align: center;
  width: 208px;
}

.sidebar-block ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(161, 190, 228);
  opacity: 1; /* Firefox */
}

.sidebar-block :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(161, 190, 228);
}

.sidebar-block ::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(161, 190, 228);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.search-block button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.search-block button:hover {
  color: rgb(59, 82, 124); 
  background-color: #fff; 
  border: solid 3px rgb(59, 82, 124); 
}

.search-block button:active {
  background-color: rgb(59, 82, 124);
}